[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod
[submodule "linux-kernel-internals/themes/hugo-book"]
	path = linux-kernel-internals/themes/hugo-book
	url = https://github.com/alex-shpak/hugo-book
