{{ define "main" }}
<section class="hero">
  
  <h3 class="hero-greeting">{{ .Site.Data.profile.name }}</h3>
  
  <div class="post-entry">
    I’m <strong>{{ .Site.Data.profile.name }}</strong>,
    {{ .Site.Data.profile.headline }}.

    {{ .Site.Data.profile.bio }}
  </div>

  <div class="hero-links">
    <a href="{{ .Site.Data.profile.links.github }}" style="text-decoration: underline;">GitHub</a>
    /
    <a href="{{ .Site.Data.profile.links.linkedin }}" style="text-decoration: underline;">LinkedIn</a>
  </div>
</section>

<div style="padding: 16px;">
  <h4>Recent Articles</h4>
</div>
{{ range .Site.Sections }}
<ul class="recent-articles">
  {{ range .Pages }}
    <li>
      {{ .Date | time.Format "01/02/2006" }} –
      <a href="{{ .Permalink }}">
        {{ .Title }}
      </a>
    </li>
  {{ end }}
</ul>

  {{ end }}
{{ end }}
