{{ define "main" }}
  <div class="post-list">
    {{ range .Site.Sections }}
      <article class="post-entry">
        <header class="entry-header">
          <h2 class="entry-hint-parent">
            {{ .Title | default .Name | title }}
          </h2>
        </header>

        <div class="entry-content">
          <p>
            {{ with .Description }}
              {{ . }}
            {{ else }}
              {{ .Pages | len }} {{ if eq (.Pages | len) 1 }}post{{ else }}posts{{ end }}
            {{ end }}
          </p>
        </div>

        <footer class="entry-footer">
          {{ with (index (.Pages.ByDate.Reverse) 0) }}
            <span title="{{ .Date }}">{{ .Date }}</span>
          {{ end }}
        </footer>

        <a class="entry-link"
           aria-label="section link to {{ .Title | default .Name | title }}"
           href="{{ .Permalink }}"></a>
      </article>
    {{ end }}
  </div>
{{ end }}
